* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.input-1{
  display: block;
  border: none;
}

.form-page{
  padding-top: 50px;
  flex-grow: 1;
  background-color: white;

  form {
    border-radius: 8px;
    background: white;
    padding: 30px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  }
}
.input {
  display: block;
  width: 100%;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 4px;
}

.navbar-pic{
  width: 25px;
  height: 25px;
  border-radius: 70px;
}

.input-edit{
  margin-top: 7px;
  margin-bottom: 5px;
}

.nav-link{
  color: black;
}

.text-link {
  color: inherit;
  text-decoration: none;
}

  .search-field {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    margin: 5px;
  }

.image-section { 
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  .profile-image{
    width: 200px;
    height: 200px;
    border-radius: 50px;
    margin: 30px;
  }
}
.image-section-2{ 
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}
.user-jobs{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  .user-jobs-list{
    display: inline-flex;
  }
}

.user-aplications{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  .user-aplications-jobs{
    display: inline-flex
  }
}

.profile-button{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100px;
}
.job-card{
  overflow: hidden;
}

.card{
  box-shadow: 0px 2px 8px rgba(0,0,0,0.4);
}
.label-as-badge {
  border-radius: 1em;
}
.job-col{
  transition: transform .2s;
}
.job-col:hover{
  transform: scale(1.05);
}
.loading-button{
  display: flex;
  justify-content: center;
  align-items: center;
}
.single-job-buttons{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
.job-col-single{
  display: flex;
  justify-content: center;
  align-items: center;
  .single-job-view{
    width: calc(100% / 2);
  }
}
.button-single{
  display: flex;
  justify-content: center;
  align-items: center;

}
.free{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header{
  margin-top: 50px;
}

.job-main-header {
  border-radius: 30px;
  height: 400px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  // filter: brightness(70%);
}
.job-single-header {
  border-radius: 30px;
  height: 400px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url('../assets/SignContract.jpeg');
  filter: brightness(70%);
}
.hero {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('../assets/main.jpeg');
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
}

.single-job-buttons-review{
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  flex-direction: row;
  flex-wrap: wrap;
}
.h2-profile{
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer{
  width: 100%;
  background-color: #ffffff;
  text-align: center;
  color: black;
  height: 100px;  
  line-height: 5px;
  padding-top: 30px;
  padding-bottom: 50px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
